node_modules/
jspm_packages/
web_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
Thumbs.db
desktop.ini
*.log

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp