:root {
    --color-ice-blue: #b0bed0;
    --color-ice-blue-light: #b0bed032;
    --color-slate-dark: #2d3542;
    --color-slate-card: #384253;

    --color-cream-yellow: #f6e99f;
    --color-amber-bright: #ffc11c;
    --color-burnt-orange: #e17823;

    --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}